body {
	margin: 0;
	margin: 0;
	background-color: rgb(168, 217, 248);
}

.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

ul.topnav {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
	font-style: italic;
}

ul.topnav li a:hover:not(.active) {
	background-color: orange;
}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
   ul.topnav li.right, 
   ul.topnav li {float: none;}
}

img {
	border-radius: 10%;
	border: 3px solid lightblue;
	width: 300px;
	margin: 10px;	
}

.foto2 {
	border-radius: 10%;
	border: 3px solid lightblue;
	width: 160px;
	margin: 10px;	
}

table {
	/*border: 2px solid grey;*/
	width: 70%;
}

tr, td {
	width: 20%;
}

hr {
	width: 97%;
}

.probel {
	height: 50px;
}

h3 {
	border: 1px solid grey;
	background-color: lightgrey;
	width: min-content;
	padding: 3px;
	border-radius: 10px 10px 10px 10px;
}

.courses {
	border: 1px solid grey;
	background-color: lightgrey;
	width: 22%;
	padding: 3px;
	border-radius: 10px 10px 10px 10px;
}
